@using Proje_OOP.Entity
@model List<Customer>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CoreLayout.cshtml";
}

<h1>Müşteri Listesi Sayfası</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Müşteri Adı</th>
        <th>Müşteri Şehri</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CustomerId</td>
                <td>@item.CustomerName</td>
                <td>@item.CustomerCity</td>
                <td><a href="/Product/DeleteProduct/@item.CustomerId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Product/EditProduct/@item.CustomerId" class="btn btn-success">Güncelle</a></td>
            </tr>

        }
    }
    
</table>
<a href="/Customer/AddCustomer/"class="btn btn-primary">Müşteri Ekle</a>
