
@{
    ViewData["Title"] = "Index";
}

<a href="/Default/Urunler/"class="btn btn-info">Ürünler Sayfası</a>
<a href="/Default/Musteriler/"class="btn btn-info">Müşteri Sayfası</a>

<h1>Index</h1>
<h3>Welcome To New ASP.Net Core 6.0 OOP Project</h3>
<h1>-------------------------------</h1>
<h2>@ViewBag.m1</h2>
<h2>@ViewBag.m2</h2>

<h3>@ViewBag.v </h3>
<h3>@ViewBag.name </h3>

