
@{
    Layout = null;
}

<h1>Müşteriler Sayfası</h1>

<a href="/Default/Index/"class="btn btn-info">Index Sayfası</a>
<a href="/Default/Urunler/"class="btn btn-info">Ürünler Sayfası</a>

<h3>@ViewBag.name</h3>
<h2>@ViewBag.s</h2>
