
@{
    Layout = null;
}

<a href="/Default/Index/"class="btn btn-info">Index Sayfası</a>
<a href="/Default/Musteriler/"class="btn btn-info">Müşteri Sayfası</a>

<h1>Ürünler Sayfası</h1>
<h3>@ViewBag.m2</h3>
<h3>Toplam: @ViewBag.t</h3>
<h2>Cumle: @ViewBag.c</h2>

<h3>@ViewBag.name</h3>


